header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: sticky;
    z-index: 1;
    top: 0;
    box-shadow: 0 0 0.25rem #65656542;
    background-color: #fff;
}